# Visual Studio cache directory
/.vs/

# Build results
bin/
obj/

# User-specific files
*.suo
*.user

# MSTest test results
/TestResults/

# Folder containing result NuGet packages
/nuget/
